name: digitalksp
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  carousel_slider: ^5.0.0
  shared_preferences: ^2.3.3
  flutter_widget_from_html_core: ^0.15.2
  flutter_svg: ^2.0.14
  share_plus: ^10.1.2
  cached_network_image: ^3.4.1
  read_more_text: ^0.0.5
  http: ^1.2.2
  intl: ^0.19.0
  badges: ^3.1.2
  file_picker: ^8.1.4
  connectivity_plus: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  flutter_launcher_icons: ^0.14.1

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/icons/
    - assets/images/
    - assets/json/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
